/*
COLOR PALETTE

Medium Slate Blue		7365E3
Steel blue				4E82BA
Blue (munsell)			3C8FA6
Air Force Blue			488BAF
Persian green			2A9D92
Light green				B5F279
Nyanza					E4FDE1
*/

/* GLOBAL STYLES 
-------------------------------------------------------------*/
* {		/* Universal reset to get everything aligned with the corners of the page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
	font-family: "Spicy Rice", "Times New Roman", Times, serif;
}

/* NAV BAR
------------------------------------------*/
.nav {
    background-color: #2A9D92; /* Persian Green */
	background-image: linear-gradient(#4E82BA, #3C8FA6);	/* Blue to Less Blue slightly more Green */
    text-align: center;
}

div nav img {
	height: 50px;
	width: auto;
}

.nav a {
	color: white;
	display: inline-block;
	text-decoration: none;
	list-style-type: disc;
	justify-content: center;
    padding: 0.687rem 1rem;
    border-radius: 5px;
	vertical-align: top;
	margin-left: 10em;
	font-weight: bold;
}

.nav .icon {
		display: none;
}

.nav a.active, .nav a:hover {
    background-color: #2A9D92; /* Persian Green - Same as end of nav - Might make more visible */
    transition: background-color 0.3s;
}

/* HEADER & BODY
------------------------------------------*/
header {
    background-color: #7365E3;	/* Basically Purple */
	background-image: linear-gradient(#7365E3, #4E82BA);	/* Purple to blue */
    text-align: center;
    padding: 1.5rem 0;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 0.05em;
	color: #2A9D92; /* Persian Green */
    margin-bottom: 1rem;
}

header h3 {
    color: #B5F279; /* Light green */
	font-size: 1.2rem;
    font-weight: 300;
	margin-top: -15px;
}

body {
    font-family: "IBM Plex Serif", serif;
	font-size: 16px;
	background-color: #f2f2f2;
    line-height: 1.6;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h2 {
    color: #7365E3; /* Medium Slate Blue */
    font-size: 2rem;
    margin-bottom: 1rem;
}

#careerGoals {
	margin-top: 30px;
}

.goals {
	display: flex;
    justify-content: space-between;
	margin-top: -25px;
}

main p {
    margin: 1rem 0;
    line-height: 1.8;
}

#logo {
    width: 100%;
    max-width: 300px;
    display: block;
}

/* FOOTER
------------------------------------------*/
footer {
    background-color: #3C8FA6; /* Air Force Blue */
	background-image: linear-gradient(#3C8FA6, #488BAF, #2A9D92);	/* Blue Munsell to Air Force Blue to Persian Green */
    color: white;
    text-align: center;
}

.footer-content h3 {
    font-weight: 100;
	font-size: 1.2rem;
}

.footer-content p {
    margin: 1rem 0;
}

.footer-content a {
    color: #B5F279; /* Light green */
    text-decoration: none;
    margin: 0 0.5rem;
    font-weight: bold;
}

.footer-content a:hover {
    color: white;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.socials li img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.socials li img:hover {
    transform: scale(1.1);
}

/* HOME PAGE 
-------------------------------------------------------------*/
.content-wrapper {
	background-color: grey;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 2.812em;
	margin-bottom: 2.812em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

.gallery img {
    width: 100%;
	height: 95%;
	object-fit: cover;	/* According to w3schools reduces the "prime real estate" */
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* SERVICES PAGE 
-------------------------------------------------------------*/
.servicesMain h1 {
	text-align: center;
	text-decoration: underline;
	letter-spacing: 0.09em;
	margin-bottom: 1rem;
	color: #7365E3; /* Medium Slate Blue */
}

.servicesMain h2 {
	color: #3C8FA6; /* Blue (Munsell) */
	font-size: 1.6em;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

.gridContainer img {
    width: 100%;
	height: 95%;
	object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gridContainer img:hover {
    transform: scale(1.1);
}

/* ABOUT PAGE 
-------------------------------------------------------------*/
.aboutMain {
	display: flex;
	flex-direction: row;
	margin: 2em 7.5em 2em 7.5em;
	gap: 2em;
}

.aboutInfo {
	width: 70%;
	margin-top: 3.125em;
	font-size: 1.1em;
}

.aboutInfo h2 {
	font-size: 2.5em;
}

.about-wrapper {
	width: 42%;
	height: 80%;
	margin-top: 3.125em;
	margin-right: -5em;
	margin-bottom: 3.125em;
	background-color: #4E82BA;
	background-image: linear-gradient(#3C8FA6, #4E82BA, #7365E3);
	border-radius: 25px;
    padding: 10px;
}

table {
	width: 100%;
	table-layout: auto;
}

table, th, td {
	font-size: 18px;
	border-collapse: collapse;
}

th {
	color: #B5F279;
}

.infoboxImage {
	width: 75%;
	height: auto;
}

.infoboxImage:hover {
	transform: none;
}

.infoboxImage-caption {
	font-weight: normal;
	margin-top: -0.7em;
	margin-bottom: 0.2em;
}

td {
	color: #E4FDE1;
}

table a {
	text-decoration: none;
	font-weight: bold;
	color: #E4FDE1;
}

table a:hover {
	color: #2A9D92;
}

/* CONTACT PAGE 
-------------------------------------------------------------*/
.contactMain {
	display: flex;
	flex-direction: row;
}

.contact-wrapper {
	width: 50%;
	background-color: #ffffff;
	border-radius: 25px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
	margin-bottom: 50px;
}

.contactInfo {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 100px;
}

.contactItem {
	padding-top: 17px;
}

.link {
	display: inline-block;
	vertical-align: top;
	padding-top: 17px;
	margin-left: 8px;
	margin-bottom: 0px;
	padding-left: 4px;
	font-weight: bold;
	color: #4E82BA;
}

.link:hover {
	color: #2A9D92;
}

section div a {
	text-decoration: none;
}

div img {
	width: 10%;
	height: auto;
	transition: transform 0.3s;
}

div img:hover{
	transform: scale(1.1);
}

label {
    display: block;
}

.required:after {
	content: " *";
	font-weight: bold;
	color: #c7251a;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

input, textarea, select, button {
	font-family: inherit;
}

input[type="text"], input[type="email"], textarea {
    border: 1px solid #f7f7f7;
    border-radius: 5px;
	box-shadow: 0 2px 8px rgba(244, 38, 62, .04), 0 1px 3px rgba(31, 37, 89, .07);
	height: 50px;
	padding: 0.5rem 1rem;
}

input[type="text"] {
	width: 127%;
	display: inline-block;
}

input[type="email"] {
	width: 100%;
}

textarea {
	height: auto;
	width: 100%;
}

button[type="submit"] {
    margin: auto;
	width: 48%;
    padding: 10px;
    background-color: #7365E3;
	background-image: linear-gradient(#7365E3, #4E82BA);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
	font-size: 1em;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0075c4;
	background-image: linear-gradient(#3C8FA6, #488BAF);
}

/* RESUME PAGE 
-------------------------------------------------------------*/
.resumeMain h1 {
	text-align: center;
	text-decoration: underline;
	letter-spacing: 0.09em;
	margin-bottom: 1rem;
	color: #7365E3; /* Medium Slate Blue */
}

.pdf {
	min-width: 465px;
	min-height: 635px;
	width: 100%;
	height: 100%;
	aspect-ratio: 4 / 3;
}

.resumeMain a {
	text-decoration: none;
	font-weight: bold;
	color: #2A9D92;
}

.resumeMain a:hover {
	color: #7365E3;
}

/* REFLECTION PAGE 
-------------------------------------------------------------*/
.reflectImage {
	width: 50%;
	height: auto;
}

.reflectImage:hover{
	transform: none;
}

h1.reflect {
	text-align: center;
	letter-spacing: 0.09em;
	font-size: 2.5em;
	margin-bottom: 1rem;
	color: #7365E3; /* Medium Slate Blue */
}
	
.research h2, .wireframe h2, .homePage h2, .ePortfolio h2, .future h2 {
	text-decoration: underline;
	letter-spacing: 0.07em;
	color: #2A9D92; /* Persian Green */
}

.research a, .homePage a {
	text-decoration: none;
	font-weight: bold;
	color: #4E82BA;
}

.research a:hover, .homePage a:hover {
	color: #2A9D92;
}