/*----------Uses Monochromatic (auto) Color Scheme----------*/
/* Body */
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #405F80;
}

/* Font */
body, p, li, nav a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.0625rem;
    font-style: normal;
}

h1, h2, h3, .getStarted {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

/* Header */
header {
    background-color: #394655;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.45rem 1.25rem;
}

.logo {
    margin: -1.25rem;
    width: 6.25rem;
    height: 6.25rem;
}

/* Navigation */
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.9rem;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    color: #00CCFF;
}

nav a.active {
    color: #2379D5;
}

/* Main */
main {
    padding: 1.25rem;
    max-width: 50rem;
    margin: 1.25rem auto;
    background-color: #396FAA;
    color:aliceblue;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
}

/* Section: Hero */
.hero {
    background: linear-gradient(135deg, #007BFF, #2379D5);
    color: white;
    text-align: center;
    padding: 1.875rem 1.25rem;
    border-radius: 1.25rem;
}

.getStarted {
    background-color: #396FAA;
    color: white;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    padding: 0.625rem 1.25rem;
    margin-top: 0.9375rem;
}

.getStarted:hover {
    background-color: #405F80;
}

/* Section: Content */
.content {
    padding: 1.25rem 2.25rem;
}

/* Section: Highlight */
.highlight {
    background-color: #2379D5;
    padding: 1.875rem 2.25rem;
    text-align: center;
    color: #2b2f33;
    border-radius: 1.25rem;
}

.highlight ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 3.12rem;
}

/* Footer */
footer {
    background-color: #394655;
    color: white;
    text-align: center;
    padding: 0.9375rem;
    margin-top: 1.25rem;
}
