/* RESPONSIVE DESIGN
-------------------------------------------------------------*/
@media screen and (max-width: 620px) {
    header h1 {
        font-size: 1.8rem;
    }
	
	div.nav {
		text-align: left;
	}
		
	div nav img {
		margin-left: 2em;
	}
	
	div.nav a {
		margin-left: 0em;
	}
	
	.nav a:not(img) {
		display: none;
	}
	
	.nav a.icon {
		float: right;
		display: block;
		margin-right: 0.937em;
	}
	
	.nav.responsive {
		position: relative;
	}
		
	.nav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.nav.responsive a {
		float: none;
		display: block;
	}
	
	main.contactMain {
		flex-direction: column;
	}
	
	section.contactInfo {
		margin-top: 0px;
		width: 100%;
	}
	
	div.contact-wrapper {
		width: 100%
	}
	
	div.name {
		flex-direction: column;
		gap: 0em;
	}
	
	p input[type="text"] {
		width: 100%;
	}
	
	main.aboutMain {
		flex-direction: column;
		margin: 0;
		gap: 0;
	}
	
	section.aboutInfo {
		width: 100%;
		margin-top: 1em;
		font-size: 1em;
	}

	.aboutInfo h2 {
		font-size: 2em;
	}

	div.about-wrapper {
		width: 100%;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 3.125em;
	}
	
	.goals {
		flex-direction: column;
	}

	#logo {
		margin: 1rem auto;
	}
}

@media screen and (min-width: 620px) and (max-width: 768px) {
	header h1 {
        font-size: 1.8rem;
    }
	
	div.nav a {
		margin-left: 3%;
	}
	
	div.name {
		gap: 1em;
	}
	
	p input[type="text"] {
		width: 100%;
	}
	
	main.aboutMain {
		flex-direction: column;
		margin: 0;
		gap: 0;
	}
	
	section.aboutInfo {
		width: 100%;
		margin-top: 1em;
		font-size: 1em;
	}

	.aboutInfo h2 {
		font-size: 2em;
	}

	div.about-wrapper {
		width: 100%;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 3.125em;
	}
	
	.goals {
		flex-direction: column;
	}

	#logo {
		margin: 1rem auto;
	}
}

@media screen and (min-width: 769px) and (max-width: 900px) {
	div.nav a {
		margin-left: 5%;
	}
	
	div.name {
		gap: 1em;
	}
	
	p input[type="text"] {
		width: 100%;
	}
	
	main.aboutMain {
		margin: 0;
	}
	
	section.aboutInfo {
		width: 100%;
		font-size: 1em;
	}

	.aboutInfo h2 {
		font-size: 2em;
	}

	div.about-wrapper {
		width: 100%;
		margin-right: 0;
	}
	
	.goals {
		flex-direction: column;
	}
	
	#logo {
		margin: 1rem auto;
	}
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
	div.nav a {
		margin-left: 8%;
	}
	
	div.name {
		gap: 1em;
	}
	
	p input[type="text"] {
		width: 100%;
	}
	
	main.aboutMain {
		margin: 1em 2.5em 1em 2.5em;
	}
	
	section.aboutInfo {
		font-size: 1em;
	}

	div.about-wrapper {
		margin-right: 0;
	}
	
	#logo {
		height: 100%;
		margin: 1rem auto;
	}
}

@media screen and (min-width: 1024px) {	
    div.nav a {
		margin-left: 10%;
	}
	
	.content-wrapper {
		margin-top: 2.812em;
		margin-bottom: 2.812em;
	}
	
	#logo {
		height: 100%;
		margin: 1rem auto;
	}
}